.floorplanEditorButtonCells{
	border: 1px solid #2e3338;
	text-align: center;
	vertical-align: middle!important;
	font-size: 21px;
}

.floorplanEditorButtonCells:hover{
	/*transition: all 0.3s ease;*/
	/*-webkit-transition: all 0.3s ease;*/
	vertical-align: top!important;
	/*line-height: 21px!important;*/
	background-color: #000000;
}

.floorplanEditorButtonCellsSelected{
	border-color: #63c463!important;
	/*vertical-align: top!important;*/
	/*line-height: 21px!important;*/
	background-color: #000000;
}

