.floorplanEditorButtonCells{border:1px solid #2e3338;text-align:center;vertical-align:middle!important;font-size:21px}.floorplanEditorButtonCells:hover{vertical-align:top!important;background-color:#000}.floorplanEditorButtonCellsSelected{border-color:#63c463!important;background-color:#000}