
  <table class="table" style="border-collapse:separate;">

      <tr>
        <td id="tits" class="floorplanEditorButtonCells" data-button-action="select" title="selector"><span title="selector" class="ion-pinpoint"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="move" title="move"><span title="move" class="ion-arrow-move"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="cut" title="cut"><span title="cut" class="ion-scissors"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="copy" title="copy"><span title="copy" class="ion-ios-copy"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="paste" title="paste"><span title="paste" class="ion-android-clipboard"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="delete" title="delete"><span title="delete" class="ion-android-delete"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="rotateLeft" title="rotate left"><span title="rotate left" class="ion-arrow-left-c"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="rotateRight" title="rotate right"><span title="rotate right" class="ion-arrow-right-c"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="buryLayer" title="bury layer"><span title="bury layer" class="ion-social-buffer"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="drawPolyline" title="draw polyline"><span title="draw polyline" class="ion-android-create"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="undo" title="undo"><span title="undo" class="ion-ios-undo"></span></td>
        <td class="floorplanEditorButtonCells" data-button-action="redo" title="redo"><span title="redo" class="ion-ios-redo"></span></td>
        <td class="" title="save changes"><span title="save changes" class="btn btn-success hundredWidth">Save</span></td>
      </tr>
      
  </table> 

<!-- (/Sites/floorPlanEditorApp$) handlebars -m public/html/templates/handlebarsTemplates/ -f public/html/templates/preCompliedTemplates/FloorPlanEditorTemplate.js -->
